<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weather api</title>
</head>
<body>
<h1>Weather data Api</h1>
<p>url format : http://127.0.0.1:5000/api/v1/station/date</p>
<p>url for one station temperature data for one date : http://127.0.0.1:5000/api/v1/10/19881028</p>
<p>url for one station data for all dates : http://127.0.0.1:5000/api/v1/10</p>
<p>url for one station data for one year : http://127.0.0.1:5000/api/v1/yearly/10/1988</p>
<p>{{data|safe}}</p>
</body>
</html>